.sbdocs {
  background: var(--tr-color--background-200) !important;
}

.css-qa4clq :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
  font-size: 1rem !important;
}

.css-194spiq {
  padding: 32px;
}

.css-huy9ac {
  border-radius: 50px !important;
}

.tr-docs--min-height {
  min-height: 700px;
}

.tr-docs--min-height-100 {
  min-height: 100%;
}

.tr-docs--min-width {
  min-width: 360px;
}

.tr-docs--dummy-block {
  width: 300px;
  height: 250px;
  background-color: #68b0b9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.tr-docs--dummy-paper {
  width: 100% !important;
  height: 400px !important;
}

.tr-docs-background-grey {
  background-color: #ddd;
}

.tr-docs-table {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.tr-docs-table > * {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bbb;
}

.tr-docs-table > *:first-child {
  font-weight: 800;
}

.tr-docs-table > * > * {
  display: flex;
  flex-direction: column;
  padding: 0.5em 32px;
  margin: 0 !important;
  flex: 1 1 0;
  border-right: 1px solid #bbb;
}

.tr-docs-table > * > *:last-child {
  border: none;
}

/* BarGraph */

.tr-bar-chart {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
  gap: 2rem;
  box-sizing: border-box;
}

.tr-bar-chart > *:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 100px; */
  padding-bottom: 2rem;
  text-align: right;
  opacity: 0.5;
}

.tr-bar-chart > *:last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
}

.tr-bar-chart > *:last-child > * {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 0.5rem;
}

.tr-bar-chart > *:last-child > * > * {
  width: 100%;
  flex: 1 1 0;
}

.tr-bar-chart > *:last-child > *:first-child > * {
  /* border-radius: 0.5rem; */
  transition: all 0.3s;
  background-color: #8ed0b1;
}

.tr-bar-chart.secondary > *:last-child > *:first-child > * {
  /* border-radius: 0.5rem; */
  background-color: #b6b0de;
}

.tr-bar-chart > *:last-child > *:first-child > *:nth-child(even) {
  opacity: 0.5;
}

.tr-bar-chart > *:last-child > *:last-child > * {
  text-align: center;
}
